<div>
  <h6>Recent updates</h6>
    <div>
      <p>
        {{restaurant.name}} 
      </p>
      <p>
        {{restaurant.Category.dataValues.name}}
      </p>
    </div>
</div>
<br/>
<a href="/admin">回列表</a>